@import '../../../sass/styles.sass'

.container
  background-color: $dark-navy
  height: 100vh
  width: 100%


.btn-start-cpu
  @include btn($light-yellow,$light-yellow-shadow, $light-yellow-hover)

.btn-start-player
  @include btn($light-blue,$light-blue-shadow, $light-blue-hover)
