@import '../../../sass/styles.sass'

.container
  @include container()
  //filter: blur(10px)

.header
  display: flex
  justify-content: space-around

.symbols
  flex-grow: 1
  display: flex
  align-items: center

.turn-info
  flex-grow: 1
  display: flex
  align-items: center
  background-color: $semi-dark-navy
  border-radius: 7px
  box-shadow: 0px 4px black

  &-content
    display: flex
    justify-content: right
    flex-grow: 1



.turn-info-text
  font-family: outfit-bold
  font-size: 14px
  color: $silver
  padding-left: 5px
  letter-spacing: 0.88px
  flex-grow: 1
  text-align: left

.restart
  flex-grow: 1
  display: flex
  align-items: center
  justify-content: right

.btn
  @include btn($silver,$silver-shadow, $silver-hover)
  width: 35px
  height: 35px
  border-radius: 7px
  svg
    text-align: center
    margin-top: 10px

.game-board
  margin-top: 65px
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.game-box
  background-color: $semi-dark-navy
  width: 90px
  height: 90px
  border-radius: 7px
  box-shadow: 0px 4px black
  display: flex
  justify-content: center
  align-items: center
  margin: 13px 0px
  @include breakpoint(tablet)
    width: 140px
    height: 140px

.game-info
  margin-top: 20px
  display: flex
  justify-content: space-between

.scoreboard-box
  width: 90px
  height: 60px
  border-radius: 7px
  margin: 13px 0px
  text-align: center


  &-you
    background-color: $light-blue
  &-ties
    background-color: $silver
  &-cpu
    background-color: $light-yellow

.scoreboard-number
  font-family: outfit-bold
  font-size: 20px

.modal-end-match
  width: 100%
  height: 228px
  //background-color: red
  background-color: $semi-dark-navy
  position: absolute
  top: 30%

.modal-who-wins
  font-family: outfit-bold
  letter-spacing: 0.88px
  color: $silver
  text-align: center
  margin: 25px 0px

.modal-winner-info-o
  font-family: outfit-bold
  font-size: 24px
  letter-spacing: 1.5px
  text-align: center
  margin: 6px 0px
  color: $light-yellow
  display: flex
  justify-content: center
  svg
    margin-right: 10px

.modal-winner-info-x
  font-family: outfit-bold
  font-size: 24px
  letter-spacing: 1.5px
  text-align: center
  margin: 6px 0px
  color: $light-blue
  display: flex
  justify-content: center
  svg
    margin-right: 10px

.modal-winner-info-tied
  font-family: outfit-bold
  font-size: 24px
  letter-spacing: 1.5px
  text-align: center
  margin: 6px 0px
  color: $silver
  display: flex
  justify-content: center
  margin-top: 47px

.modal-buttons
  display: flex
  justify-content: center

.btn-quit
  @include btn($silver,$silver-shadow, $silver-hover)
  width: 76px
  height: 52px
  border-radius: 9px
  margin: 10px

.btn-next-round
  @include btn($light-yellow,$light-yellow-shadow, $light-yellow-hover)
  width: 146px
  height: 52px
  border-radius: 9px
  margin: 10px










